.adds{
    width: 300px;
    height: 200px;
    background-image: url('web-file/mission.jpg');
    background-size: cover; /* This will resize the image to cover the div */
    background-position: center; /* This will center the image */
  


    display: none;
}